@model Payment

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="coll-12 text-center">
                <h2 class="py-2">Dodawanie zajęć</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4 bg-light">
        <form method="post" class="row">
            <input type="hidden" name="userId" value="@User.Identity.Name"/>
            <div class="border p-3">
                <div class="form-floating py-2 col-12">
                    <input asp-for="PaymentDate" class="form-control border-0 shadow" />
                    <label asp-for="PaymentDate" class="ms-2"></label>
                    <span asp-validation-for="PaymentDate" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="PaymentAmount" class="form-control border-0 shadow" style="height: 150px;"></input>
                    <label asp-for="PaymentAmount" class="ms-2"></label>
                    <span asp-validation-for="PaymentAmount" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="ForWhat" class="form-control border-0 shadow" style="height: 150px;"></input>
                    <label asp-for="ForWhat" class="ms-2"></label>
                    <span asp-validation-for="ForWhat" class="text-danger"></span>
                </div>
                
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Utwórz</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Admin" asp-action="Index" class="btn btn-outline-primary border form-control">
                            Cofnij
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>